In [28]:
import pandas as pd

#### Nomor 1
Tentukan dari variabel
list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']
Ada berapa jumlah plat genap dan ganjil. (5 poin)

In [29]:
list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']

list_plat_ganjil = list()
list_plat_genap = list()

for plat in list_plat_mobil:
    angka_plat = str()
    for huruf in plat:
        if huruf.isdigit():
            angka_plat += huruf
    angka_plat = int(angka_plat)
    if angka_plat % 2 == 0:
        list_plat_genap.append(plat)
    else:
        list_plat_ganjil.append(plat)
print("List Plat Genap: ", list_plat_genap )
print("Plat genap berjumlah ", len(list_plat_genap))
print("List Plat Ganjul: ", list_plat_ganjil )
print("Plat ganjil berjumlah ", len(list_plat_ganjil))

List Plat Genap:  ['B 1234 AB', 'B 6726 D']
Plat genap berjumlah  2
List Plat Ganjul:  ['B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']
Plat ganjil berjumlah  7

#### Nomor 2
Buatlah deret fibonacci 12 angka yang dimulai dari 2 dan 3 menggunakan iterasi cara for atau while. Output yang diharapkan adalah [2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377] (5 poin)

In [30]:
list_bilangan_fibonacci = []
bilangan_pertama = 2
bilangan_kedua = 3
list_bilangan_fibonacci.append(bilangan_pertama)
list_bilangan_fibonacci.append(bilangan_kedua)

for bilangan in range (0,10):
    list_bilangan_fibonacci.append(list_bilangan_fibonacci[-1]+list_bilangan_fibonacci[-2])

print("Berikut adalah 12 angka pertama dari bilangan fibonacci ", list_bilangan_fibonacci)

Berikut adalah 12 angka pertama dari bilangan fibonacci  [2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

#### Nomor 3
Team Campaign PT ABC akan membuat promo bundling category product (berisi 3 category setiap bundling) untuk promo 17 Agustus. PT ABC memiliki 10 category product. Ketentuan Bundling:
1. Tidak boleh hanya memiliki 1 jenis category dalam 1 bundling
2. 1 Bundling boleh memiliki 2 category yang sama
3. Urutan tidak menjadi faktor pembeda (c1 - c2 - c3 = c2 - c1 - c3).
Tentukan ada berapa jumlah kemungkinan bundling yang bisa terbentuk?
Berikut list code category list_id_category = [c1, c2, c3, c4, c5, c6, c7 , c8, c9, c10] (10 poin)

In [31]:
list_kombinasi =[]
list_id_category = ["c1", "c2", "c3", "c4", "c5", "c6", "c7" , "c8", "c9", "c10"]
for category_1 in list_id_category:
    for category_2 in list_id_category:
        for category_3 in list_id_category[list_id_category.index(category_2)+1:]:
            kombinasi =  sorted([category_1, category_2, category_3])
            if kombinasi not in list_kombinasi:
                list_kombinasi.append(kombinasi)
print("Jumlah kemungkinan bundling yang terbentuk adalah," ,len(list_kombinasi))
print("Berikut adalah kemungkinan kombinasinya: ")
list_kombinasi.sort()
print(list_kombinasi)

Jumlah kemungkinan bundling yang terbentuk adalah, 210
Berikut adalah kemungkinan kombinasinya:
[['c1', 'c1', 'c10'], ['c1', 'c1', 'c2'], ['c1', 'c1', 'c3'], ['c1', 'c1', 'c4'], ['c1', 'c1', 'c5'], ['c1', 'c1', 'c6'], ['c1', 'c1', 'c7'], ['c1', 'c1', 'c8'], ['c1', 'c1', 'c9'], ['c1', 'c10', 'c10'], ['c1', 'c10', 'c2'], ['c1', 'c10', 'c3'], ['c1', 'c10', 'c4'], ['c1', 'c10', 'c5'], ['c1', 'c10', 'c6'], ['c1', 'c10', 'c7'], ['c1', 'c10', 'c8'], ['c1', 'c10', 'c9'], ['c1', 'c2', 'c2'], ['c1', 'c2', 'c3'], ['c1', 'c2', 'c4'], ['c1', 'c2', 'c5'], ['c1', 'c2', 'c6'], ['c1', 'c2', 'c7'], ['c1', 'c2', 'c8'], ['c1', 'c2', 'c9'], ['c1', 'c3', 'c3'], ['c1', 'c3', 'c4'], ['c1', 'c3', 'c5'], ['c1', 'c3', 'c6'], ['c1', 'c3', 'c7'], ['c1', 'c3', 'c8'], ['c1', 'c3', 'c9'], ['c1', 'c4', 'c4'], ['c1', 'c4', 'c5'], ['c1', 'c4', 'c6'], ['c1', 'c4', 'c7'], ['c1', 'c4', 'c8'], ['c1', 'c4', 'c9'], ['c1', 'c5', 'c5'], ['c1', 'c5', 'c6'], ['c1', 'c5', 'c7'], ['c1', 'c5', 'c8'], ['c1', 'c5', 'c9'], ['c1', 'c6', 'c6'], ['c1', 'c6', 'c7'], ['c1', 'c6', 'c8'], ['c1', 'c6', 'c9'], ['c1', 'c7', 'c7'], ['c1', 'c7', 'c8'], ['c1', 'c7', 'c9'], ['c1', 'c8', 'c8'], ['c1', 'c8', 'c9'], ['c1', 'c9', 'c9'], ['c10', 'c10', 'c2'], ['c10', 'c10', 'c3'], ['c10', 'c10', 'c4'], ['c10', 'c10', 'c5'], ['c10', 'c10', 'c6'], ['c10', 'c10', 'c7'], ['c10', 'c10', 'c8'], ['c10', 'c10', 'c9'], ['c10', 'c2', 'c2'], ['c10', 'c2', 'c3'], ['c10', 'c2', 'c4'], ['c10', 'c2', 'c5'], ['c10', 'c2', 'c6'], ['c10', 'c2', 'c7'], ['c10', 'c2', 'c8'], ['c10', 'c2', 'c9'], ['c10', 'c3', 'c3'], ['c10', 'c3', 'c4'], ['c10', 'c3', 'c5'], ['c10', 'c3', 'c6'], ['c10', 'c3', 'c7'], ['c10', 'c3', 'c8'], ['c10', 'c3', 'c9'], ['c10', 'c4', 'c4'], ['c10', 'c4', 'c5'], ['c10', 'c4', 'c6'], ['c10', 'c4', 'c7'], ['c10', 'c4', 'c8'], ['c10', 'c4', 'c9'], ['c10', 'c5', 'c5'], ['c10', 'c5', 'c6'], ['c10', 'c5', 'c7'], ['c10', 'c5', 'c8'], ['c10', 'c5', 'c9'], ['c10', 'c6', 'c6'], ['c10', 'c6', 'c7'], ['c10', 'c6', 'c8'], ['c10', 'c6', 'c9'], ['c10', 'c7', 'c7'], ['c10', 'c7', 'c8'], ['c10', 'c7', 'c9'], ['c10', 'c8', 'c8'], ['c10', 'c8', 'c9'], ['c10', 'c9', 'c9'], ['c2', 'c2', 'c3'], ['c2', 'c2', 'c4'], ['c2', 'c2', 'c5'], ['c2', 'c2', 'c6'], ['c2', 'c2', 'c7'], ['c2', 'c2', 'c8'], ['c2', 'c2', 'c9'], ['c2', 'c3', 'c3'], ['c2', 'c3', 'c4'], ['c2', 'c3', 'c5'], ['c2', 'c3', 'c6'], ['c2', 'c3', 'c7'], ['c2', 'c3', 'c8'], ['c2', 'c3', 'c9'], ['c2', 'c4', 'c4'], ['c2', 'c4', 'c5'], ['c2', 'c4', 'c6'], ['c2', 'c4', 'c7'], ['c2', 'c4', 'c8'], ['c2', 'c4', 'c9'], ['c2', 'c5', 'c5'], ['c2', 'c5', 'c6'], ['c2', 'c5', 'c7'], ['c2', 'c5', 'c8'], ['c2', 'c5', 'c9'], ['c2', 'c6', 'c6'], ['c2', 'c6', 'c7'], ['c2', 'c6', 'c8'], ['c2', 'c6', 'c9'], ['c2', 'c7', 'c7'], ['c2', 'c7', 'c8'], ['c2', 'c7', 'c9'], ['c2', 'c8', 'c8'], ['c2', 'c8', 'c9'], ['c2', 'c9', 'c9'], ['c3', 'c3', 'c4'], ['c3', 'c3', 'c5'], ['c3', 'c3', 'c6'], ['c3', 'c3', 'c7'], ['c3', 'c3', 'c8'], ['c3', 'c3', 'c9'], ['c3', 'c4', 'c4'], ['c3', 'c4', 'c5'], ['c3', 'c4', 'c6'], ['c3', 'c4', 'c7'], ['c3', 'c4', 'c8'], ['c3', 'c4', 'c9'], ['c3', 'c5', 'c5'], ['c3', 'c5', 'c6'], ['c3', 'c5', 'c7'], ['c3', 'c5', 'c8'], ['c3', 'c5', 'c9'], ['c3', 'c6', 'c6'], ['c3', 'c6', 'c7'], ['c3', 'c6', 'c8'], ['c3', 'c6', 'c9'], ['c3', 'c7', 'c7'], ['c3', 'c7', 'c8'], ['c3', 'c7', 'c9'], ['c3', 'c8', 'c8'], ['c3', 'c8', 'c9'], ['c3', 'c9', 'c9'], ['c4', 'c4', 'c5'], ['c4', 'c4', 'c6'], ['c4', 'c4', 'c7'], ['c4', 'c4', 'c8'], ['c4', 'c4', 'c9'], ['c4', 'c5', 'c5'], ['c4', 'c5', 'c6'], ['c4', 'c5', 'c7'], ['c4', 'c5', 'c8'], ['c4', 'c5', 'c9'], ['c4', 'c6', 'c6'], ['c4', 'c6', 'c7'], ['c4', 'c6', 'c8'], ['c4', 'c6', 'c9'], ['c4', 'c7', 'c7'], ['c4', 'c7', 'c8'], ['c4', 'c7', 'c9'], ['c4', 'c8', 'c8'], ['c4', 'c8', 'c9'], ['c4', 'c9', 'c9'], ['c5', 'c5', 'c6'], ['c5', 'c5', 'c7'], ['c5', 'c5', 'c8'], ['c5', 'c5', 'c9'], ['c5', 'c6', 'c6'], ['c5', 'c6', 'c7'], ['c5', 'c6', 'c8'], ['c5', 'c6', 'c9'], ['c5', 'c7', 'c7'], ['c5', 'c7', 'c8'], ['c5', 'c7', 'c9'], ['c5', 'c8', 'c8'], ['c5', 'c8', 'c9'], ['c5', 'c9', 'c9'], ['c6', 'c6', 'c7'], ['c6', 'c6', 'c8'], ['c6', 'c6', 'c9'], ['c6', 'c7', 'c7'], ['c6', 'c7', 'c8'], ['c6', 'c7', 'c9'], ['c6', 'c8', 'c8'], ['c6', 'c8', 'c9'], ['c6', 'c9', 'c9'], ['c7', 'c7', 'c8'], ['c7', 'c7', 'c9'], ['c7', 'c8', 'c8'], ['c7', 'c8', 'c9'], ['c7', 'c9', 'c9'], ['c8', 'c8', 'c9'], ['c8', 'c9', 'c9']]

#### Nomor 4
Buatlah sebuah function string_processor dengan inputan 2 parameter, yaitu suatu
string 1 kata dan nama proses yang akan dilakukan. Function ini memiliki 4 proses
a. first_char : return huruf pertama dari string yang diinput
b. last_char : return huruf terakhir dari string yang diinput
c. num_chars : return jumlah huruf string input
d. num_vowels : return jumlah huruf vocal pada string input

In [32]:
def string_processor(string, proses):
    if proses == 'first_char':
        return string[0]
    elif proses == 'last_char':
        return string[-1]
    elif proses == 'num_chars':
        return len(string)
    elif proses == 'num_vowels':
        count = 0
        vowels = 'aeiou'
        for letter in string:
            if letter in vowels:
                count+=1
        return count
    else:
        return "Proses tidak ditemukan, Masukkan kata proses dengan benar"
print(string_processor("taia","num_vowelfs"))

Proses tidak ditemukan, Masukkan kata proses dengan benar

#### Nomor 5
Menggunakan dataset rakamin_store_city_monthly! Buatlah 1 kolom baru pada dengan
teknik apply lambda tanpa function def (cukup one liner) dengan nama kolom is_gmail
dengan value True jika menggunakan gmail dan False jika selain gmail.
Tentukan ada berapa user yang menggunakan email gmail pada tahun 2018!
(14 poin)

In [33]:
import pandas as pd
df = pd.read_csv('rakamin_store_city_monthly.csv',sep=";")
df

,month,user_id,username,email,kota,total_visit,total_order,total_amount
0,2016-01,16,Kevin Ningsih,kevinningsih@roketmail.com,Jakarta Selatan,95,15,45724
1,2016-01,25,Sakti Hasaniy,saktihasaniy@outlook.com,Jakarta Pusat,97,1,26665
2,2016-01,39,Izhar Halim,izharhalim@gmail.com,Jakarta Timur,84,33,899001
3,2016-02,8,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,Jakarta Pusat,113,11,22012
4,2016-02,34,Ismail Wardhani,ismailwardhani@hotmail.com,Jakarta Selatan,25,2,55620
...,...,...,...,...,...,...,...,...
121,2020-12,75,June Andjani,juneandjani@gmail.com,Jakarta Utara,60,26,645642
122,2020-12,45,Maruto Asih,marutoasih@yahoo.com,Jakarta Utara,44,20,82843
123,2020-12,50,Rizki Faishal Apriyani,rizkifaishalapriyani@roketmail.com,Jakarta Timur,28,17,35000
124,2020-12,64,Amalia Widi Abelardo,amaliawidiabelardo@outlook.com,Depok,10,36,232972
125,2020-12,60,Putri Gasani,putrigsn@gmail.com,Bekasi,80,70,540000

In [34]:
df['is_gmail'] = df['email'].apply(lambda mail: True if '@gmail' in mail else False)
df

,month,user_id,username,email,kota,total_visit,total_order,total_amount,is_gmail
0,2016-01,16,Kevin Ningsih,kevinningsih@roketmail.com,Jakarta Selatan,95,15,45724,False
1,2016-01,25,Sakti Hasaniy,saktihasaniy@outlook.com,Jakarta Pusat,97,1,26665,False
2,2016-01,39,Izhar Halim,izharhalim@gmail.com,Jakarta Timur,84,33,899001,True
3,2016-02,8,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,Jakarta Pusat,113,11,22012,False
4,2016-02,34,Ismail Wardhani,ismailwardhani@hotmail.com,Jakarta Selatan,25,2,55620,False
...,...,...,...,...,...,...,...,...,...
121,2020-12,75,June Andjani,juneandjani@gmail.com,Jakarta Utara,60,26,645642,True
122,2020-12,45,Maruto Asih,marutoasih@yahoo.com,Jakarta Utara,44,20,82843,False
123,2020-12,50,Rizki Faishal Apriyani,rizkifaishalapriyani@roketmail.com,Jakarta Timur,28,17,35000,False
124,2020-12,64,Amalia Widi Abelardo,amaliawidiabelardo@outlook.com,Depok,10,36,232972,False
125,2020-12,60,Putri Gasani,putrigsn@gmail.com,Bekasi,80,70,540000,True

In [35]:
df['year'] = df['month'].str[:4]
df

,month,user_id,username,email,kota,total_visit,total_order,total_amount,is_gmail,year
0,2016-01,16,Kevin Ningsih,kevinningsih@roketmail.com,Jakarta Selatan,95,15,45724,False,2016
1,2016-01,25,Sakti Hasaniy,saktihasaniy@outlook.com,Jakarta Pusat,97,1,26665,False,2016
2,2016-01,39,Izhar Halim,izharhalim@gmail.com,Jakarta Timur,84,33,899001,True,2016
3,2016-02,8,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,Jakarta Pusat,113,11,22012,False,2016
4,2016-02,34,Ismail Wardhani,ismailwardhani@hotmail.com,Jakarta Selatan,25,2,55620,False,2016
...,...,...,...,...,...,...,...,...,...,...
121,2020-12,75,June Andjani,juneandjani@gmail.com,Jakarta Utara,60,26,645642,True,2020
122,2020-12,45,Maruto Asih,marutoasih@yahoo.com,Jakarta Utara,44,20,82843,False,2020
123,2020-12,50,Rizki Faishal Apriyani,rizkifaishalapriyani@roketmail.com,Jakarta Timur,28,17,35000,False,2020
124,2020-12,64,Amalia Widi Abelardo,amaliawidiabelardo@outlook.com,Depok,10,36,232972,False,2020
125,2020-12,60,Putri Gasani,putrigsn@gmail.com,Bekasi,80,70,540000,True,2020

In [36]:
df_agg = df.groupby('year')['is_gmail'].count().reset_index()
df_agg_2018=  df_agg[df_agg['year'] == "2018"]
df_agg_2018

   year  is_gmail
2  2018        18

In [37]:
print("jumlah user pengguna gmail pada tahun 2018 sebesar ", df_agg_2018['is_gmail'])

jumlah user pengguna gmail pada tahun 2018 sebesar  2    18
Name: is_gmail, dtype: int64

#### Nomor 6
Menggunakan dataset superstore! Buatlah function yang bisa menghitung Jumlah Sales dan Profit pada suatu tahun dan region tertentu dengan default tahun 2017. Tentukan total sales dan profit:
1. South Region pada tahun 2016
2. West Region pada tahun 2017

In [38]:
df2 = pd.read_excel('superstore.xls')
df2

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [39]:
def jumlah_sales_dan_profit(dataframe, region, tahun=2017):
    data_used = dataframe
    data_used['Order Year'] = data_used['Order Date'].dt.year
    data_with_filter = data_used[(data_used['Region'] == region) & (data_used['Order Year'] == tahun)]
    result = data_with_filter.groupby(['Region','Order Year']).agg(
        total_sales = ('Sales', 'sum'),
        total_profit = ('Profit', 'sum')
    )
    return result

In [40]:
jumlah_sales_dan_profit(df2, region="South", tahun=2016)

                   total_sales  total_profit
Region Order Year
South  2016         93610.2235    17702.8084

In [47]:
jumlah_sales_dan_profit(df2, region="West", tahun=2017)

                   total_sales  total_profit
Region Order Year
West   2017        250128.3655    43808.9561

In [41]:
print(iter(['Apel',"Mangga"]))

<list_iterator object at 0x0000019268969970>

In [42]:
a=0
b=2
c=2

while a < 9:
    b = b*c + 2
    a+=2
print(b,a)

126 10

In [43]:
dict = {'januari' :30}
for i in dict:
    print(i)

januari

In [44]:
a = 10
def pangkat(a,n):
    pangkat = a**n
    a = a + 10 
    return pangkat
pangkat(2,3)
print(a)

10

In [45]:
courier = ['a','b','c','d','e']
n = 0
for i in courier:
    for j in courier:
        if i != j:
            n +=1
print(n)

20

In [46]:
def extract_region_code(x):
    list = []
    for i in x:
        list.append(i.split()[0])
    return list
extract_region_code(['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA'])

['B', 'B', 'B', 'B', 'B', 'B', 'D', 'AE', 'AE']