In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('monthly_rakamin_customer_order.csv')
df.sort_values(by=['full_name'],ascending=False)

,order_month,full_name,user_id,phone,city,province,email,total_order,total_gmv,total_visit
119,2019-08-01,Ziad Akbar,10000050,628962212425,Jakarta Timur,DKI Jakarta,ziad@yahoo.com,177,4867500,529
239,2021-04-01,Ziad Akbar,10000050,628962212425,Jakarta Timur,DKI Jakarta,ziad@yahoo.com,156,4290000,633
310,2022-03-01,Ziad Akbar,10000050,628962212425,Jakarta Timur,DKI Jakarta,ziad@yahoo.com,146,3977500,374
79,2019-02-01,Ziad Akbar,10000050,628962212425,Jakarta Timur,DKI Jakarta,ziad@yahoo.com,168,4620000,303
39,2018-07-01,Ziad Akbar,10000050,628962212425,Jakarta Timur,DKI Jakarta,ziad@yahoo.com,149,4097500,275
...,...,...,...,...,...,...,...,...,...,...
243,2021-05-01,Aan Utama,10000014,628785222214,Medan,Sumatra Utara,aan@yahoo.com,22,605000,38
163,2020-04-01,Aan Utama,10000014,628785222214,Medan,Sumatra Utara,aan@yahoo.com,55,1512500,117
3,2018-01-01,Aan Utama,10000014,628785222214,Medan,Sumatra Utara,aan@yahoo.com,18,495000,100
123,2019-09-01,Aan Utama,10000014,628785222214,Medan,Sumatra Utara,aan@yahoo.com,9,247500,66
314,2022-04-01,Aan Utama,10000014,628785222214,Medan,Sumatra Utara,aan@yahoo.com,60,1612500,145

In [3]:
def get_provider_email(email):
    email = email.lower()
    try:
        provider_email = email.split('@')[1]
    except:
        provider_email = "Others"
    if 'gmail' in provider_email:
        return 'Gmail'
    if 'yahoo' in provider_email:
        return 'Yahoo'
    return 'Others'
df['provider_email']= df.apply(lambda x:get_provider_email(x['email']),axis=1)

In [4]:
df['year'] = pd.to_datetime(df['order_month'], format='%Y-%m').dt.year
df

,order_month,full_name,user_id,phone,city,province,email,total_order,total_gmv,total_visit,provider_email,year
0,2018-01-01,Ahmad Budiman,10000011,628785222211,Jakarta Pusat,DKI Jakarta,ahmad@gmail.com,125,3490000,230,Gmail,2018
1,2018-01-01,Azzam Haqq,10000012,628785222212,Surabaya,Jawa Timur,azzam@gmail.co.id,173,4757500,304,Gmail,2018
2,2018-01-01,Amrina Putri,10000013,628785222213,Jakarta Pusat,DKI Jakarta,amrina@yahoo.co.id,20,550000,62,Yahoo,2018
3,2018-01-01,Aan Utama,10000014,628785222214,Medan,Sumatra Utara,aan@yahoo.com,18,495000,100,Yahoo,2018
4,2018-01-01,Adam Adi,10000015,628785222215,Jakarta Timur,DKI Jakarta,adam@gmail.com,159,4372500,524,Gmail,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
332,2022-06-01,Faruq Adi,10000030,628567812319,Makassar,Sulawesi Selatan,faruq@yahoo.com,201,5490000,773,Yahoo,2022
333,2022-06-01,Abrar Adi,10000053,628223411218,Surabaya,Jawa Timur,abrar.adi@yahoo.co.id,110,2987500,276,Yahoo,2022
334,2022-06-01,Johan Imawan,10000054,628223412323,Balikpapan,Kalimantan Timur,johan.imawan@yahoo.com,95,2705000,258,Yahoo,2022
335,2022-06-01,Muhammad Ammar,10000055,628223412111,Surabaya,Jawa Timur,muh.ammar@gmail.com,30,760000,103,Gmail,2022
336,2022-05-01,Dodo Putro Aji,10000023,628567812312,Surabaya,Jawa Timur,dodo@gmail.com,15,605000,83,Gmail,2022

In [5]:
df_agg = df.groupby('year')['full_name'].count().reset_index()
df_agg[df_agg['year']==2021]

   year  full_name
3  2021         78

In [6]:
df = pd.read_csv('summary_buyer_rakamin_store_special.csv')
df

,order_month,user_id,full_name,phone,city,province,email,total_order,total_gmv,total_visit
0,2018-01-01,10000011,Ahmad Budiman,6.287852e+11,Jakarta Pusat,DKI Jakarta,ahmad@gmail.com,127,3492500,235
1,2018-01-01,10000012,Azzam Haqq,6.287852e+11,Surabaya,Jawa Timur,azzam@gmail.co.id,173,4757500,304
2,2018-01-01,10000013,Amrina Putri,6.287852e+11,Jakarta Pusat,DKI Jakarta,amrina@yahoo.co.id,20,550000,62
3,2018-01-01,10000014,Aan Utama,6.287852e+11,Medan,Sumatra Utara,aan@yahoo.com,18,495000,100
4,2018-01-01,10000015,Adam Adi,6.287852e+11,Jakarta Timur,DKI Jakarta,adam@gmail.com,159,4372500,524
...,...,...,...,...,...,...,...,...,...,...
265,2021-09-01,10000036,Gilang Rahaja,6.282234e+11,Jakarta Pusat,DKI Jakarta,gilang@gmail.co.id,68,1870000,101
266,2021-09-01,10000037,Hari Darmawan,6.282234e+11,Bandung,Jawa Barat,hari@yahoo.co.id,5,137500,101
267,2021-09-01,10000038,Heru,6.282234e+11,Bandung,Jawa Barat,heru@yahoo.com,61,1677500,125
268,2021-09-01,10000039,Hesti Putri,6.282234e+11,Medan,Sumatra Utara,hesti@gmail.com,161,4427500,471
269,2021-09-01,10000040,Hirman,6.282234e+11,Medan,Sumatra Utara,hirman@gmail.co.id,102,2805000,309

In [8]:

df['provider_email']= df.apply(lambda x:get_provider_email(x['email']),axis=1)
df

,order_month,user_id,full_name,phone,city,province,email,total_order,total_gmv,total_visit,provider_email
0,2018-01-01,10000011,Ahmad Budiman,6.287852e+11,Jakarta Pusat,DKI Jakarta,ahmad@gmail.com,127,3492500,235,Gmail
1,2018-01-01,10000012,Azzam Haqq,6.287852e+11,Surabaya,Jawa Timur,azzam@gmail.co.id,173,4757500,304,Gmail
2,2018-01-01,10000013,Amrina Putri,6.287852e+11,Jakarta Pusat,DKI Jakarta,amrina@yahoo.co.id,20,550000,62,Yahoo
3,2018-01-01,10000014,Aan Utama,6.287852e+11,Medan,Sumatra Utara,aan@yahoo.com,18,495000,100,Yahoo
4,2018-01-01,10000015,Adam Adi,6.287852e+11,Jakarta Timur,DKI Jakarta,adam@gmail.com,159,4372500,524,Gmail
...,...,...,...,...,...,...,...,...,...,...,...
265,2021-09-01,10000036,Gilang Rahaja,6.282234e+11,Jakarta Pusat,DKI Jakarta,gilang@gmail.co.id,68,1870000,101,Gmail
266,2021-09-01,10000037,Hari Darmawan,6.282234e+11,Bandung,Jawa Barat,hari@yahoo.co.id,5,137500,101,Yahoo
267,2021-09-01,10000038,Heru,6.282234e+11,Bandung,Jawa Barat,heru@yahoo.com,61,1677500,125,Yahoo
268,2021-09-01,10000039,Hesti Putri,6.282234e+11,Medan,Sumatra Utara,hesti@gmail.com,161,4427500,471,Gmail
269,2021-09-01,10000040,Hirman,6.282234e+11,Medan,Sumatra Utara,hirman@gmail.co.id,102,2805000,309,Gmail

In [11]:
import datetime
def pengecekan_umur(tanggal_lahir):
    day,month,year = map(int, tanggal_lahir.split("-"))
    today = datetime.date.today()
    age = today.year - year - ((today.month, today.day) < (month, day))
    print("Your age is",age,"years.")
pengecekan_umur("25-10-2001")

TypeError: pengecekan_umur() missing 1 required positional argument: 'tes'