# Import Data

Data : https://drive.google.com/drive/folders/1pqvolQbOex2FMa0VR9v_4ZWicGzFc48C?usp=drive_link

In [1]:
import pandas as pd
import numpy as np
np.random.seed(42)

In [2]:
%cd /content/drive/MyDrive/RAKAMIN/Studi Kasus Live Session/Data Processing/data

[WinError 3] The system cannot find the path specified: '/content/drive/MyDrive/RAKAMIN/Studi Kasus Live Session/Data Processing/data'
C:\Users\moham\Downloads

In [3]:
df_orders = pd.read_csv('orders.csv')
df_order_items = pd.read_csv('order_items.csv')
df_customers = pd.read_csv('customers.csv')
df_payments = pd.read_csv('payments.csv')
df_products = pd.read_csv('products.csv')

In [4]:
df_orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_timestamp',
       'order_estimated_delivery_date'],
      dtype='object')

In [5]:
df_order_items.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id', 'price',
       'shipping_charges'],
      dtype='object')

In [6]:
df_customers.columns

Index(['customer_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state'],
      dtype='object')

In [7]:
df_payments.columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [8]:
df_products.columns

Index(['product_id', 'product_category_name', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

# Review Materi

In [9]:
# Merge 2 csv

df_combined_2csv = pd.merge(df_orders, df_order_items, on='order_id')

In [10]:
df_combined_2csv

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,order_item_id,product_id,seller_id,price,shipping_charges
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,19.90,8.72
...,...,...,...,...,...,...,...,...,...,...,...,...
112645,63943bddc261676b46f01ca7ac2f7bd8,da62f9e57a76d978d02ab5362c509660,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-28 17:37:56,2018-03-02,1,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,174.90,20.10
112646,83c1379a015df1e13d02aae0204711ab,737520a9aad80b3fbbdad19b66b37b30,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-09-21 11:24:17,2017-09-27,1,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,205.99,65.02
112647,11c177c8e97725db2631073c19f07b62,5097a5312c8b157bb7be58ae360ef43c,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-25 23:32:54,2018-02-15,1,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,179.99,40.59
112648,11c177c8e97725db2631073c19f07b62,5097a5312c8b157bb7be58ae360ef43c,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-25 23:32:54,2018-02-15,2,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,179.99,40.59
112649,66dea50a8b16d9b4dee7af250b4be1a5,60350aa974b26ff12caad89e55993bd6,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-16 13:08:30,2018-04-03,1,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,68.50,18.36

In [11]:
# Menampilkan 5 baris pertama DataFrame
df_combined_2csv.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,order_item_id,product_id,seller_id,price,shipping_charges
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,19.90,8.72

In [12]:
# Menampilkan informasi DataFrame
df_combined_2csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 12 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   customer_id                    112650 non-null  object
 2   order_status                   112650 non-null  object
 3   order_purchase_timestamp       112650 non-null  object
 4   order_approved_at              112635 non-null  object
 5   order_delivered_timestamp      110196 non-null  object
 6   order_estimated_delivery_date  112650 non-null  object
 7   order_item_id                  112650 non-null  int64
 8   product_id                     112650 non-null  object
 9   seller_id                      112650 non-null  object
 10  price                          112650 non-null  float64
 11  shipping_charges               112650 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 11.2+ MB

In [13]:
# Mengubah tipe data kolom 'order_purchase_timestamp' ke datetime
df_combined_2csv['order_purchase_timestamp'] = pd.to_datetime(df_combined_2csv['order_purchase_timestamp'])

Apa lagi yang bisa diubah ke tipe data datetime ?

Siapa yang mau mencoba ?

jawaban :    
'order_purchase_timestamp', 'order_approved_at', 'order_delivered_timestamp', 'order_estimated_delivery_date'

In [14]:
df_combined_2csv['order_approved_at'] = pd.to_datetime(df_combined_2csv['order_approved_at'])
df_combined_2csv['order_delivered_timestamp'] = pd.to_datetime(df_combined_2csv['order_delivered_timestamp'])
df_combined_2csv['order_estimated_delivery_date'] = pd.to_datetime(df_combined_2csv['order_estimated_delivery_date'])

In [15]:
# Memilih hanya kolom tertentu
selected_columns = ['order_id', 'product_id', 'price']
df_selected_columns = df_combined_2csv[selected_columns]
df_selected_columns

,order_id,product_id,price
0,e481f51cbdc54678b7cc49136f2d6af7,87285b34884572647811a353c7ac498a,29.99
1,53cdb2fc8bc7dce0b6741e2150273451,595fac2a385ac33a80bd5114aec74eb8,118.70
2,47770eb9100c2d0c44946d9cf07ec65d,aa4383b373c6aca5d8797843e5594415,159.90
3,949d5b44dbf5de918fe9c16f97b45f8a,d0b61bfb1de832b15ba9d266ca96e5b0,45.00
4,ad21c59c0840e6cb83a9ceb5573f8159,65266b2da20d04dbe00c5c2d3bb7859e,19.90
...,...,...,...
112645,63943bddc261676b46f01ca7ac2f7bd8,f1d4ce8c6dd66c47bbaa8c6781c2a923,174.90
112646,83c1379a015df1e13d02aae0204711ab,b80910977a37536adeddd63663f916ad,205.99
112647,11c177c8e97725db2631073c19f07b62,d1c427060a0f73f6b889a5c7c61f2ac4,179.99
112648,11c177c8e97725db2631073c19f07b62,d1c427060a0f73f6b889a5c7c61f2ac4,179.99
112649,66dea50a8b16d9b4dee7af250b4be1a5,006619bbed68b000c8ba3f8725d5409e,68.50

In [16]:
# Menambahkan kolom baru 'total_price'
df_combined_2csv['total_price'] = df_combined_2csv['price'] * df_combined_2csv['order_item_id']
df_combined_2csv['total_price']

0          29.99
1         118.70
2         159.90
3          45.00
4          19.90
           ...
112645    174.90
112646    205.99
112647    179.99
112648    359.98
112649     68.50
Name: total_price, Length: 112650, dtype: float64

In [17]:
# Menghapus kolom 'shipping_charges'
df_combined_2csv = df_combined_2csv.drop('shipping_charges', axis=1)

In [18]:
# Menghapus baris yang memiliki data duplikat

df_combined_2csv = df_combined_2csv.drop_duplicates()

In [19]:
# Mengurutkan DataFrame berdasarkan 'order_purchase_timestamp' secara ascending
df_combined_2csv.sort_values(by='order_purchase_timestamp')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,order_item_id,product_id,seller_id,price,total_price
5085,2e7a8482f6fb09756ca50c10d7bfc047,b7d76e111c89f7ebf14761390f0f7d17,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,NaT,2016-10-20,1,c1488892604e4ba5cff5b4eb4d595400,1554a68530182680ad5c8b042c3ab563,39.99,39.99
5086,2e7a8482f6fb09756ca50c10d7bfc047,b7d76e111c89f7ebf14761390f0f7d17,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,NaT,2016-10-20,2,f293394c72c9b5fafd7023301fc21fc2,1554a68530182680ad5c8b042c3ab563,32.90,65.80
4925,e5fa5a7210941f7d56d0208e4e071d35,4854e9b3feff728c13ee5fc7d1547e92,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaT,2016-10-28,1,f3c2d01a84c947b078e32bbef0718962,a425f92c199eb576938df686728acd20,59.50,59.50
34803,bfbd0f9bdef84302105ad712db648a6c,830d5b7aaa3b6f1e9ad63703bec97d23,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-09 07:47:38,2016-10-04,2,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,89.98
34804,bfbd0f9bdef84302105ad712db648a6c,830d5b7aaa3b6f1e9ad63703bec97d23,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-09 07:47:38,2016-10-04,3,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,134.97
...,...,...,...,...,...,...,...,...,...,...,...,...
34061,0b223d92c27432930dfe407c6aea3041,5c58de6fb80e93396e2f35642666b693,delivered,2018-08-29 14:18:23,2018-08-29 14:31:07,2018-08-30 16:24:55,2018-09-04,2,2b4472df15512a2825ae86fd9ae79335,67bf6941ba2f1fa1d02c375766bc3e53,209.00,418.00
35685,168626408cb32af0ffaf76711caae1dc,7febafa06d9d8f232a900a2937f04338,delivered,2018-08-29 14:18:28,2018-08-29 14:30:23,2018-08-30 16:52:31,2018-09-11,1,bdcf6a834e8faa30dac3886c7a58e92e,2a84855fd20af891be03bc5924d2b453,45.90,45.90
78871,03ef5dedbe7492bdae72eec50764c43f,b701bebbdf478f5500348f03aff62121,delivered,2018-08-29 14:52:00,2018-08-29 15:05:22,2018-08-30 16:36:59,2018-09-03,1,c7f27c5bef2338541c772b5776403e6a,7d7866a99a8656a42c7ff6352a433410,24.90,24.90
99673,35a972d7f8436f405b56e36add1a7140,24ac2b4327e25baf39f2119e4228976a,delivered,2018-08-29 15:00:37,2018-08-29 15:10:26,2018-08-30 16:23:36,2018-09-05,1,d04857e7b4b708ee8b8b9921163edba3,9f505651f4a6abe901a56cdc21508025,84.99,84.99
70511,54282e97f61c23b78330c15b154c867d,ff22e30958c13ffe219db7d711e8f564,shipped,2018-09-03 09:06:57,2018-09-03 17:40:06,NaT,2018-09-06,1,b98992ea80b467987a7fbb88e7f2076a,25be943a321c8938947bdaabca979a90,145.00,145.00

In [20]:
# Mengelompokkan berdasarkan 'product_id' dan menghitung jumlah penjualan dan harga rata-rata
df_grouped = df_combined_2csv.groupby('product_id').agg({'order_item_id': 'sum', 'price': 'mean'})
df_grouped

                                  order_item_id   price
product_id
00066f42aeeb9f3007548bb9d3f33c38              1  101.65
00088930e925c41fd95ebfe695fd2655              1  129.90
0009406fd7479715e4bef61dd91f2462              1  229.00
000b8f95fcb9e0096488278317764d19              2   58.90
000d9be29b5207b54e86aa1b1ac54872              1  199.00
...                                         ...     ...
fff6177642830a9a94a0f2cba5e476d1              2  114.99
fff81cc3158d2725c0655ab9ba0f712c              1   90.00
fff9553ac224cec9d15d49f5a263411f              1   32.00
fffdb2d0ec8d6a61f0a0a0db3f25b441              5   33.99
fffe9eeff12fcbd74a2f2b007dde0c58              1  249.99

[32951 rows x 2 columns]

In [21]:
# Mereset index DataFrame
df_combined_2csv = df_combined_2csv.reset_index(drop=True)
df_combined_2csv

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,order_item_id,product_id,seller_id,price,total_price
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,29.99
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,118.70,118.70
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,159.90,159.90
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,45.00,45.00
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,19.90,19.90
...,...,...,...,...,...,...,...,...,...,...,...,...
112645,63943bddc261676b46f01ca7ac2f7bd8,da62f9e57a76d978d02ab5362c509660,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-28 17:37:56,2018-03-02,1,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,174.90,174.90
112646,83c1379a015df1e13d02aae0204711ab,737520a9aad80b3fbbdad19b66b37b30,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-09-21 11:24:17,2017-09-27,1,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,205.99,205.99
112647,11c177c8e97725db2631073c19f07b62,5097a5312c8b157bb7be58ae360ef43c,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-25 23:32:54,2018-02-15,1,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,179.99,179.99
112648,11c177c8e97725db2631073c19f07b62,5097a5312c8b157bb7be58ae360ef43c,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-25 23:32:54,2018-02-15,2,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,179.99,359.98
112649,66dea50a8b16d9b4dee7af250b4be1a5,60350aa974b26ff12caad89e55993bd6,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-16 13:08:30,2018-04-03,1,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,68.50,68.50

In [22]:
# Mengganti nama kolom 'price' menjadi 'item_price'
df_combined_2csv = df_combined_2csv.rename(columns={'price': 'item_price'})

In [23]:
df_combined_2csv.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_timestamp',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'item_price', 'total_price'],
      dtype='object')

In [24]:
pivot_table_df = pd.pivot_table(df_combined_2csv,
                                values='total_price',
                                index='seller_id',
                                columns='order_status',
                                aggfunc='sum',
                                fill_value=0)

pivot_table_df

order_status,approved,canceled,delivered,invoiced,processing,shipped,unavailable
seller_id,,,,,,,
0015a82c2db000af6aaaf3ae2ecb0532,0.0,0.00,2685.00,0.0,0.00,0.0,0.0
001cca7ae9ae17fb1caed9dfb1094831,0.0,0.00,30019.42,0.0,0.00,593.0,0.0
001e6ad469a905060d959994f1b41e4f,0.0,250.00,0.00,0.0,0.00,0.0,0.0
002100f778ceb8431b7a1020ff7ab48f,0.0,0.00,1300.10,0.0,0.00,17.9,0.0
003554e2dce176b5555353e4f3555ac8,0.0,0.00,120.00,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...
ffcfefa19b08742c5d315f2791395ee5,0.0,69.90,0.00,0.0,0.00,0.0,0.0
ffdd9f82b9a447f6f8d4b91554cc7dd3,0.0,0.00,2378.80,0.0,0.00,0.0,0.0
ffeee66ac5d5a62fe688b9d26f83f534,0.0,0.00,1839.86,0.0,0.00,0.0,0.0
fffd5413c0700ac820c7069d66d98c89,0.0,99.80,9025.70,0.0,0.00,427.5,0.0
ffff564a4f9085cd26170f4732393726,0.0,594.65,359.00,0.0,472.65,0.0,0.0

Bagaimana jika multiple value dan aggfunc ?

In [25]:
pivot_table_df2 = pd.pivot_table(df_combined_2csv,
                                values=['total_price', 'item_price'],
                                index='seller_id',
                                columns='order_status',
                                aggfunc={'total_price': 'sum', 'item_price': 'mean'},
                                fill_value=0)

pivot_table_df2

                                 item_price                                 \
order_status                       approved  canceled   delivered invoiced
seller_id
0015a82c2db000af6aaaf3ae2ecb0532        0.0    0.0000  895.000000      0.0
001cca7ae9ae17fb1caed9dfb1094831        0.0    0.0000  104.645427      0.0
001e6ad469a905060d959994f1b41e4f        0.0  250.0000    0.000000      0.0
002100f778ceb8431b7a1020ff7ab48f        0.0    0.0000   22.529630      0.0
003554e2dce176b5555353e4f3555ac8        0.0    0.0000  120.000000      0.0
...                                     ...       ...         ...      ...
ffcfefa19b08742c5d315f2791395ee5        0.0   69.9000    0.000000      0.0
ffdd9f82b9a447f6f8d4b91554cc7dd3        0.0    0.0000  105.060000      0.0
ffeee66ac5d5a62fe688b9d26f83f534        0.0    0.0000  131.418571      0.0
fffd5413c0700ac820c7069d66d98c89        0.0   99.8000  147.155172      0.0
ffff564a4f9085cd26170f4732393726        0.0  148.6625   44.875000      0.0

                                                                total_price  \
order_status                     processing shipped unavailable    approved
seller_id
0015a82c2db000af6aaaf3ae2ecb0532    0.00000    0.00         0.0         0.0
001cca7ae9ae17fb1caed9dfb1094831    0.00000  118.60         0.0         0.0
001e6ad469a905060d959994f1b41e4f    0.00000    0.00         0.0         0.0
002100f778ceb8431b7a1020ff7ab48f    0.00000   17.90         0.0         0.0
003554e2dce176b5555353e4f3555ac8    0.00000    0.00         0.0         0.0
...                                     ...     ...         ...         ...
ffcfefa19b08742c5d315f2791395ee5    0.00000    0.00         0.0         0.0
ffdd9f82b9a447f6f8d4b91554cc7dd3    0.00000    0.00         0.0         0.0
ffeee66ac5d5a62fe688b9d26f83f534    0.00000    0.00         0.0         0.0
fffd5413c0700ac820c7069d66d98c89    0.00000  213.75         0.0         0.0
ffff564a4f9085cd26170f4732393726   59.08125    0.00         0.0         0.0

                                                                         \
order_status                     canceled delivered invoiced processing
seller_id
0015a82c2db000af6aaaf3ae2ecb0532     0.00   2685.00      0.0       0.00
001cca7ae9ae17fb1caed9dfb1094831     0.00  30019.42      0.0       0.00
001e6ad469a905060d959994f1b41e4f   250.00      0.00      0.0       0.00
002100f778ceb8431b7a1020ff7ab48f     0.00   1300.10      0.0       0.00
003554e2dce176b5555353e4f3555ac8     0.00    120.00      0.0       0.00
...                                   ...       ...      ...        ...
ffcfefa19b08742c5d315f2791395ee5    69.90      0.00      0.0       0.00
ffdd9f82b9a447f6f8d4b91554cc7dd3     0.00   2378.80      0.0       0.00
ffeee66ac5d5a62fe688b9d26f83f534     0.00   1839.86      0.0       0.00
fffd5413c0700ac820c7069d66d98c89    99.80   9025.70      0.0       0.00
ffff564a4f9085cd26170f4732393726   594.65    359.00      0.0     472.65


order_status                     shipped unavailable
seller_id
0015a82c2db000af6aaaf3ae2ecb0532     0.0         0.0
001cca7ae9ae17fb1caed9dfb1094831   593.0         0.0
001e6ad469a905060d959994f1b41e4f     0.0         0.0
002100f778ceb8431b7a1020ff7ab48f    17.9         0.0
003554e2dce176b5555353e4f3555ac8     0.0         0.0
...                                  ...         ...
ffcfefa19b08742c5d315f2791395ee5     0.0         0.0
ffdd9f82b9a447f6f8d4b91554cc7dd3     0.0         0.0
ffeee66ac5d5a62fe688b9d26f83f534     0.0         0.0
fffd5413c0700ac820c7069d66d98c89   427.5         0.0
ffff564a4f9085cd26170f4732393726     0.0         0.0

[3095 rows x 14 columns]

### Nomor 1

In [29]:
# Nomor 1
df_combined_3csv = pd.merge(df_orders, df_customers, on='customer_id')
df_combined_3csv.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_timestamp',
       'order_estimated_delivery_date', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [30]:
df_combined_4csv = pd.merge(df_combined_3csv, df_order_items, on='order_id')
df_combined_4csv.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_timestamp',
       'order_estimated_delivery_date', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_item_id', 'product_id',
       'seller_id', 'price', 'shipping_charges'],
      dtype='object')

In [31]:
df_combined_5csv = pd.merge(df_combined_4csv, df_products, on='product_id')
df_combined_5csv.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_timestamp',
       'order_estimated_delivery_date', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_item_id', 'product_id',
       'seller_id', 'price', 'shipping_charges', 'product_category_name',
       'product_weight_g', 'product_length_cm', 'product_height_cm',
       'product_width_cm'],
      dtype='object')

In [32]:
df_combined_6csv = pd.merge(df_combined_5csv, df_payments, on='order_id')
df_combined_6csv.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_timestamp',
       'order_estimated_delivery_date', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_item_id', 'product_id',
       'seller_id', 'price', 'shipping_charges', 'product_category_name',
       'product_weight_g', 'product_length_cm', 'product_height_cm',
       'product_width_cm', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

### Nomor 2

In [33]:
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders['order_purchase_timestamp'])
df_orders['order_approved_at'] = pd.to_datetime(df_orders['order_approved_at'])
df_orders['order_delivered_timestamp'] = pd.to_datetime(df_orders['order_delivered_timestamp'])
df_orders['order_estimated_delivery_date'] = pd.to_datetime(df_orders['order_estimated_delivery_date'])
df_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,6359f309b166b0196dbf7ad2ac62bb5a,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,da62f9e57a76d978d02ab5362c509660,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,737520a9aad80b3fbbdad19b66b37b30,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,5097a5312c8b157bb7be58ae360ef43c,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,60350aa974b26ff12caad89e55993bd6,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-16 13:08:30,2018-04-03

In [49]:
df_orders['delivery_time'] =(df_orders['order_delivered_timestamp'] - df_orders['order_purchase_timestamp']).dt.days
df_orders = df_orders.dropna()
df_orders

C:\Users\moham\AppData\Local\Temp\ipykernel_2924\4259910295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_orders['delivery_time'] =(df_orders['order_delivered_timestamp'] - df_orders['order_purchase_timestamp']).dt.days

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,delivery_time
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18,8
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13,13
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04,9
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15,13
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26,2
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,6359f309b166b0196dbf7ad2ac62bb5a,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-17 15:08:01,2017-03-28,8
99437,63943bddc261676b46f01ca7ac2f7bd8,da62f9e57a76d978d02ab5362c509660,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-28 17:37:56,2018-03-02,22
99438,83c1379a015df1e13d02aae0204711ab,737520a9aad80b3fbbdad19b66b37b30,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-09-21 11:24:17,2017-09-27,24
99439,11c177c8e97725db2631073c19f07b62,5097a5312c8b157bb7be58ae360ef43c,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-25 23:32:54,2018-02-15,17
99440,66dea50a8b16d9b4dee7af250b4be1a5,60350aa974b26ff12caad89e55993bd6,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-16 13:08:30,2018-04-03,7

### Nomor 3

In [39]:
df_combined_6csv_grouped = df_combined_6csv.groupby('customer_state').agg({'payment_value': 'sum'})
df_combined_6csv_grouped

                payment_value
customer_state
AC                   27763.40
AL                  118398.30
AM                   40954.02
AP                   22994.51
BA                  875250.84
CE                  352897.46
DF                  453039.47
ES                  435881.18
GO                  538068.40
MA                  209710.80
MG                 2496318.43
MS                  171891.39
MT                  267608.92
PA                  270091.83
PB                  191035.22
PE                  418109.86
PI                  143907.01
PR                 1151946.88
RJ                 3009896.94
RN                  120543.87
RO                   74162.09
RR                   13683.28
RS                 1329727.70
SC                  856493.93
SE                   94814.59
SP                 8232362.86
TO                   75198.18

In [45]:
df_combined_7csv = pd.merge(df_orders, df_combined_6csv ,on='order_id')
df_combined_7csv.columns

Index(['order_id', 'customer_id_x', 'order_status_x',
       'order_purchase_timestamp_x', 'order_approved_at_x',
       'order_delivered_timestamp_x', 'order_estimated_delivery_date_x',
       'delivery_time', 'customer_id_y', 'order_status_y',
       'order_purchase_timestamp_y', 'order_approved_at_y',
       'order_delivered_timestamp_y', 'order_estimated_delivery_date_y',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'order_item_id', 'product_id', 'seller_id', 'price', 'shipping_charges',
       'product_category_name', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value'],
      dtype='object')

In [48]:
df_combined_7csv_grouped = df_combined_7csv.groupby('customer_state').agg({'delivery_time': 'mean'})
df_combined_7csv_grouped

                            delivery_time
customer_state
AC             21 days 07:29:57.673076923
AL             24 days 12:46:43.941935483
AM             25 days 19:37:38.910526315
AP             27 days 16:50:13.873563218
BA             19 days 05:20:12.714285714
CE             20 days 15:58:23.790250160
DF             13 days 01:30:17.190162664
ES             15 days 14:57:41.892601432
GO             15 days 08:20:45.062426384
MA             21 days 07:41:27.178651685
MG             11 days 22:44:52.581358391
MS             15 days 09:05:11.649043869
MT             17 days 23:51:06.993079584
PA             23 days 17:07:21.369886858
PB             20 days 10:20:07.785074626
PE             18 days 00:54:49.483300589
PI             19 days 04:28:53.052901024
PR             12 days 00:11:14.615080619
RJ             15 days 04:33:25.334920242
RN             19 days 12:57:44.184615384
RO             20 days 01:04:40.825301204
RR             27 days 07:27:50.979591836
RS             15 days 03:24:50.696093861
SC             14 days 21:02:28.580211546
SE             21 days 09:25:45.486746988
SP              8 days 16:47:46.825008976
TO             17 days 03:41:09.865714285